AWS_ACCESS_KEY_ID=AKIA4E2JNFHZO4LCUYGU
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-1
NOVA_LITE_MODEL_ID=amazon.nova-lite-v1:0
NOVA_MICRO_MODEL_ID=amazon.nova-micro-v1:0